html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.page-transition {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

    .page-transition.fade-out {
        opacity: 0;
    }

/* Add this to ensure the main content area has a minimum height */
main {
    min-height: calc(100vh - 200px); /* Adjust based on your header/footer height */
}